<div class="text-center">
  <h4>Simulations</h4>
  <a href="#/loading" class="btn btn-md btn-primary">Booting</a>
  <a href="#/emulator" class="btn btn-md btn-primary">Authorized</a>
  <a href="#/bricked" class="btn btn-md btn-primary disabled">Deauthorized</a>
  <a href="#/diagnostics" class="btn btn-md btn-primary">Diagnostics</a>
  <p class="advisory text-danger">
    Oh no!!
  </p>
</div>

<section class="bricked">
  <div class="tv">
    <div class="screen text-center">
      <p id="shane">Shane did it.</p>
      <!-- Image dimensions 800x450 -->
      <img src="/images/screens/bricked.png" alt="TV Screen" />
    </div>
  </div>
</section><!-- /section -->