<div class="text-center">
  <h4>Simulations</h4>
  <a href="#/loading" class="btn btn-md btn-primary">Booting</a>
  <a href="#/emulator" class="btn btn-md btn-primary disabled">Authorized</a>
  <a href="#/diagnostics" class="btn btn-md btn-primary">Diagnostics</a>
  <div class="dropdown inline-dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="deauth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Error Screens
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="deauth">
      <li><a href="#/bricked">Deauthorized</a></li>
      <li><a href="#/conwrong">Connections Wrong</a></li>
      <li><a href="#/nosig">No Signal</a></li>
    </ul>
  </div>
  <p class="advisory text-success">
    Setting up a DTA is easy with the right help.
  </p>
</div>

<section class="chanup">
  <div class="tv">
    <div class="screen">
      <!-- Image dimensions 800x450 -->
      <video height="450" width="800" src="/video/app.mp4" alt="TV Screen" muted autoplay></video>
      <img class="remote" src="/images/default-remote.png" alt="DTA Remote" usemap="#chanup" />
      
      <map name="chanup" id="chanup">
        <!-- Up Arrow -->
        <area alt="Up Arrow" title="Up Arrow" href="#/chandwn" shape="rect" coords="54,147,75,168" />
        <!-- Down Arrow -->
        <area alt="Down Arrow" title="Down Arrow" href="#/emulator" shape="rect" coords="54,203,75,223" />
        <!-- Menu Button  -->
        <area alt="Menu Button" title="Menu Button" href="#/mainmenu" shape="rect" coords="19,147,42,166" />
        <!-- Info Button  -->
        <area alt="Info Button" title="Info Button" href="#/diagnostics" shape="rect" coords="19,123,42,141" />
      </map>
    </div>
  </div>
</section><!-- /section -->