<div class="text-center">
  <h4>Simulations</h4>
  <a href="#/loading" class="btn btn-md btn-primary">Booting</a>
  <a href="#/emulator" class="btn btn-md btn-primary">Authorized</a>
  <a href="#/diagnostics" class="btn btn-md btn-primary">Diagnostics</a>
  <div class="dropdown inline-dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="deauth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Error Screens
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="deauth">
      <li><a href="#/bricked">Deauthorized</a></li>
      <li class="disabled"><a>Connections Wrong</a></li>
      <li><a href="#/nosig">No Signal</a></li>
    </ul>
  </div>
  <div class="advisory alert alert-danger">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 
    The DTA will show this when the coax cable is improperly hooked up or not active. 
  </div>
</div>

<section class="conwrong">
  <div class="tv">
    <div class="screen">
      <!-- Image dimensions 800x450 -->
      <img src="/images/screens/95percent.png" alt="TV Screen" />
    </div>
  </div>
</section><!-- /section -->