<div class="text-center">
  <h4>Simulations</h4>
  <a href="#/loading" class="btn btn-md btn-primary disabled">Booting</a>
  <a href="#/emulator" class="btn btn-md btn-primary">Authorized</a>
  <a href="#/diagnostics" class="btn btn-md btn-primary">Diagnostics</a>
  <div class="dropdown inline-dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="deauth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Error Screens
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="deauth">
      <li><a href="#/bricked">Deauthorized</a></li>
      <li><a href="#/conwrong">Connections Wrong</a></li>
      <li><a href="#/nosig">No Signal</a></li>
    </ul>
  </div>

  <div class="advisory alert alert-warning">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>  
    The DTA loading process can take as long as 15 minutes.
  </div>
</div>

<section class="loading">
  <div class="tv">
    <div class="screen">
      <!-- Image dimensions 800x450 -->
      <img src="/images/screens/long-load.gif" alt="TV Screen" />
    </div>
  </div>
</section><!-- /section -->

<script>
  $(document).ready(function () {
    // Handler for .ready() called.
    window.setTimeout(function () {
        location.href = "#/emulator";
    }, 8200);
  });
</script>