<section class="text-center">
  <h4>Simulations</h4>
  <a href="#/loading" class="btn btn-md btn-primary">Booting</a>
  <a href="#/emulator" class="btn btn-md btn-primary">Authorized</a>
  <a href="#/mainmenu" class="btn btn-md btn-primary">Main Menu</a>
  <a href="#/diagnostics" class="btn btn-md btn-primary disabled">Diagnostics</a>
  <div class="dropdown inline-dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="deauth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Error Screens
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="deauth">
      <li><a href="#/bricked">Deauthorized</a></li>
      <li><a href="#/conwrong">Connections Wrong</a></li>
      <li><a href="#/nosig">No Signal</a></li>
    </ul>
  </div>
  <div class="advisory alert alert-info">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 
    The DTA diagnostic menu can be accessed by holding the 'INFO' button for 5 seconds.
  </div>
</section>

<section class="diagnostics">
  <div class="tv">
    <div class="screen">
      <!-- Image dimensions 800x450 -->
      <img src="/images/screens/diag/tech-menu-download-opt.png" alt="TV Screen" />
      <img class="remote" src="/images/diag-remote.png" alt="DTA Remote" usemap="#download" />
      
      <map name="download" id="download">
        <!-- Seven Button -->
        <area alt="Seven to Exit" title="Seven to Exit" href="#/emulator" shape="rect" coords="19,99,42,116" />
        <!-- Up Arrow -->
        <area alt="Up Arrow" title="Up Arrow" href="#/objects" shape="rect" coords="54,147,75,168" />
        <!-- Down Arrow -->
        <area alt="Down Arrow" title="Down Arrow" href="#/hdmi" shape="rect" coords="54,203,75,223" />
        <!-- Select Button  -->
        <area alt="Enter Button" title="Enter Button" href="#/download-menu" shape="rect" coords="53,176,76,195" />
        <!-- Exit Button  -->
        <area alt="Exit Button" title="Exit Button" href="#/emulator" shape="rect" coords="19,207,42,224" />
      </map>
    </div>
  </div>
</section><!-- /section -->