<section class="text-center">
  <h4>Simulations</h4>
  <a href="#/loading" class="btn btn-md btn-primary">Booting</a>
  <a href="#/emulator" class="btn btn-md btn-primary disabled">Authorized</a>
  <a href="#/diagnostics" class="btn btn-md btn-primary">Diagnostics</a>
  <div class="dropdown inline-dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="deauth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Error Screens
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="deauth">
      <li><a href="#/bricked">Deauthorized</a></li>
      <li><a href="#/conwrong">Connections Wrong</a></li>
      <li><a href="#/nosig">No Signal</a></li>
    </ul>
  </div>
  <div class="advisory alert alert-success">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 
    Use the 'UP' and 'DOWN' arrow buttons to navigate this menu. Press 'ENTER' to make your selection.
  </div>
</section>

<section class="emulator">
  <div class="tv">
    <div class="screen">
      <!-- Image dimensions 800x450 -->
      <img src="/images/screens/menus/menu-format-list.png" alt="TV Screen" />
      <img class="remote" src="/images/menu-remote.png" alt="DTA Remote" usemap="#format" />
      
      <map name="format" id="format">
        <!-- Menu Button  -->
        <area alt="Menu Button" title="Menu Button" href="#/format" shape="rect" coords="19,147,42,166" />
        <!-- Info Button  -->
        <area alt="Info Button" title="Info Button" href="#/diagnostics" shape="rect" coords="19,123,42,141" />
        <!-- Exit Button  -->
        <area alt="Exit Button" title="Exit Button" href="#/emulator" shape="rect" coords="20,207,41,224" />
      </map>
    </div>
  </div>
</section><!-- /section -->