<section class="text-center">
  <h4>Simulations</h4>
  <a href="#/loading" class="btn btn-md btn-primary">Booting</a>
  <a href="#/emulator" class="btn btn-md btn-primary disabled">Authorized</a>
  <a href="#/diagnostics" class="btn btn-md btn-primary">Diagnostics</a>
  <div class="dropdown inline-dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="deauth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Error Screens
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="deauth">
      <li><a href="#/bricked">Deauthorized</a></li>
      <li><a href="#/conwrong">Connections Wrong</a></li>
      <li><a href="#/nosig">No Signal</a></li>
    </ul>
  </div>
  <p class="advisory text-success">
    Use the 'UP' and 'DOWN' arrow buttons to navigate this menu. Press 'ENTER' to make your selection.
  </p>
</section>

<section class="emulator">
  <div class="tv">
    <div class="screen">
      <!-- Image dimensions 800x450 -->
      <img src="/images/screens/menus/menu-parental-change-pin.png" alt="TV Screen" />
      <img class="remote" src="/images/menu-remote.png" alt="DTA Remote" usemap="#parental-pin" />
      
      <map name="parental-pin" id="parental-pin">
        <!-- Up Arrow -->
        <area alt="Up Arrow" title="Up Arrow" href="#/parental-channels" shape="rect" coords="54,147,75,168" />
        <!-- Down Arrow -->
        <area alt="Down Arrow" title="Down Arrow" href="#/parental-menu" shape="rect" coords="55,203,75,223" />
        <!-- Select Button  -->
        <area alt="Select Button" title="Select Button" href="#/parental-pin-entry" shape="rect" coords="53,176,75,195" />
        <!-- Menu Button  -->
        <area alt="Menu Button" title="Menu Button" href="#/parental" shape="rect" coords="19,147,42,166" />
        <!-- Info Button  -->
        <area alt="Info Button" title="Info Button" href="#/diagnostics" shape="rect" coords="19,123,42,141" />
        <!-- Exit Button  -->
        <area alt="Exit Button" title="Exit Button" href="#/emulator" shape="rect" coords="20,207,41,224" />
      </map>
    </div>
  </div>
</section><!-- /section -->