<section class="about">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="title">Feedback</h1>
			<p>We're working on a way to collect your feedback. Hopefully we have a DL Mailing List soon so we can collect all of your feedback and improve what we are working on.<!--We appreciate any and all feedback. We want to know if something's incorrect, broken, can be done better or improved. Send us an email!--></p>

			<form class="feedback">
				Until then, feel free to provide feedback to the developer directly:<br />
				<pre>Andrew.Alsante@twcable.com</pre>
			</form>
		</div>
	</div>

	<h2 class="title">Credit:</h2>
	<ul>
		<li><strong>Developer:</strong> Andrew Alsante</li>
		<li><strong>Project Manager:</strong> Dezsi Laczo</li>
		<li><strong>Feedback:</strong> Albany Tier 3, Tier 1</li>
	</ul>
</section>