<section class="main">
  <div class="col-sm-10 col-sm-offset-1 text-center vert-center">
    <h1 class="title">The Digital Conversion Inititave</h1>
    <p>
    	Are you ready? Now you are! We built this emulator so you can have your own personal DTA to troubleshoot on-screen menu's and options with your customer. We've also supplied you with links to some awesome resources that will give you even more tips &amp; tricks that will help build customer confidence that you truly <strong><em>are</em></strong> the expert. 
	</p>
    <a href="#/loading" class="btn btn-lg btn-primary">Start Emulator</a>
  </div>
</section><!-- /section -->