<section class="main">
  <div class="col-sm-10 col-sm-offset-1 text-center vert-center">
    <h1 class="title">The Digital Conversion Inititave</h1>
    <p>
    	We built this emulator so you can have your own personal DTA to troubleshoot on-screen menu's with your customer. We've also supplied you with links to some awesome resources that will give you even more tips &amp; tricks that will help build customer confidence that you truly <strong><em>are</em></strong> the expert.
    </p>

    <hr />

    <div class="row">
			<h2 class="title">Using the emulator</h2>
			<div class="col-md-6">
				<p>This is your remote. There are many like it, but this one is yours! Use this to control your TV emulator. We took special care to ensure that all buttons we mapped are mapped accurately.<br /><br />
				Your remote won't do anything that the customers wont. All relevant buttons will be highlighted for easy use. Please note that not every button will be usable on every menu regardless if they're highlighted.</p>
			</div>

			<div class="col-md-6"><img class="rotate-remote" src="/images/remote-example.png" /></div>
		</div>
    <a href="#/loading" class="btn btn-lg btn-primary">OK! Start Emulator</a>
  </div>
</section><!-- /section -->